<h1>Add a picture</h1>
<%= form_tag "/pictures" do%>
  <p>
    <%= label_tag :artist %><br>
    <%= test_field_tag :url%>
  </p>
  <p>
    <%= label_tag :title %><br>
    <%= text_field_tag :url %>
  </p>
  <p>
    <%= submit_tag "Save" %>
  </p>
<% end %>
